
*{
    padding: 0;   margin: 0; box-sizing: border-box;
 }
 
 body{
          
    font-family: 'Noteworthy', 'Arial';
    /*background: url(../Img/fondo1.jpg);*/
     background-color: #dedede;
     background-size: cover;
     background-attachment: fixed; 
 }
 

.formato-actualizado{

    color: white;
}

 
/*---------------------MENU----------------*/
 
ul{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}

/*email dentro del menu*/

.icono-email-menu{
    /*Icono email*/
    padding-top: 10px;
}
.enlace-correo-menu{
    /*Enlace correo*/
   color: rgb(8, 180, 166);
}

/*header*/
.header{
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index: 99;
    margin-top: 0px;
}

.header-main{
    box-shadow: 2px 3px 3px 3px #cac8c6;
    background: rgb(249,0,245);
    background: linear-gradient(90deg, rgba(249,0,245,0.999019676229867) 0%, rgba(255,255,255,1) 61%); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header .logo{
    padding: 0 5px;
    margin-top: 15px;
    margin-left: 15px;
}
.header .logo a{
    font-size: 30px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 600;
}
.header .nav-menu{
    padding: 0 15px;
}
.header .menu > .menu-item{
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.header .menu > .menu-item > a{
    display: block;
    padding: 12px 0;
    font-size: 17px;
    color: black; /*color items*/
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left:5px; 
    pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
    content:'';
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top:50%;
    background-color: #000000;
    height: 2px;
    width: 100%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{

   background-color:#fa71ff;
   padding-top: -20px;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);  
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
    color: #fa71ff;
 
}
.header .menu > .menu-item > .sub-menu{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 220px;
    position: absolute;
    left:0;
    top:100%;
    background-color: #ffffff;
    padding: 10px 0;
    border-top: 5px solid #000000;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity:0;
    visibility: hidden;
   
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);       
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
    display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: blue;
    transition: all 0.3s ease;
    text-transform: capitalize;
}
.header .open-nav-menu{
    height: 34px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header .open-nav-menu span{
    display: block;
    height: 3px;
    width: 24px;
    background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    box-sizing: border-box;
}
.header .open-nav-menu span:before{
    top:-7px;
}
.header .open-nav-menu span:after{
    top:7px;
}
.header .close-nav-menu{
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin:0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}
.header .close-nav-menu img{
    width: 16px;
}
.header .menu-overlay{
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity:0;
    transition: all 0.3s ease;
}


/* responsive */

@media(max-width: 991px){
    .header .menu-overlay.active{
    visibility: visible;
    opacity: 1;
}
    .header .nav-menu{
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top:0;
        overflow-y: auto;
        background-color: #393737; /*Background responsive*/
        z-index: 1000;
        padding: 15px 0;
        transition: all 0.5s ease;
    }
    .header .nav-menu.open{
        visibility: visible;
        right: 0px;
    }
    .header .menu > .menu-item{
        display: block;
        margin:0;
    }
    .header .menu > .menu-item-has-children > a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .menu > .menu-item > a{
        color: #ffffff;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }
    .header .menu > .menu-item:first-child > a{
        border-top: 1px solid #333333;  
    }
    .header .menu > .menu-item > a .plus:before, 
    .header .menu > .menu-item > a .plus:after{
        background-color: #ffffff;
    }
    .header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    .header .menu > .menu-item > .sub-menu{
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border:none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top:auto;
        max-height: 0;
        overflow: hidden;
    }
    .header .menu > .menu-item > .sub-menu > .menu-item > a{
        padding: 12px 45px;
        color: #ffffff;
        border-bottom: 1px solid #333333;
    }
    .header .close-nav-menu,
    .header .open-nav-menu{
        display: flex;
    }
}
 
 
 
 
/*=====================INFO PAGOS=====================*/
/*====================================================*/

#contenedor-info-pagos{
    
    display: block;
    font-size: 20px;
 
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 150px;
 
 }
 
 .Titulo-Formas-DePago{
 /*Titulo de contenedor info*/
    font-size: 30px; 
    text-align: center;
 }
 
 .titulo-es-seguro-este-pago{
 /*Titulo 多ES SEGURO PAGAR EN ESTE SITIO?*/
    font-size: 20px;
    text-align: center;
 }
 
 /*Contenedor de imagenes*/
 .contenedor-imagenes-pagos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px;
 }
 
 .formato-imagen-pago{
 /*Imagene MERCADO PAGO*/
    width: 70%;
    margin: 20px;
 }

 .formatoParrafoPagos{
/*Parrafo de pagos*/
    text-align: center;
 }
 
 #contenedor-aceptamos-efectivo{
    display: block;
    text-align: center;
    background-color: rgb(238, 255, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px dashed black;
    padding-bottom: 25px;
 }
 
 .aceptamos-efectivo{
 /*label*/
    font-size: 30px;
 }
 
 .imagen-atencion{
 /*ICONO ATENCION*/
    width: 150px;
 }
 
 @media only screen and (max-width: 760px){
    
    #contenedor-info-pagos{
    /*IMPORTANTE ESTE MARGIN - pq ajusta la caja contenedora
    con el menu*/
       margin-top: 150px;
 
    }
 
 }
 
 @media only screen and (max-width: 550px){
     
    #contenedor-info-pagos{
     
       display: block;
       font-size: 20px;
       margin-top: 130px;
    
    }
 
    .Titulo-Formas-DePago{
       /*Titulo de contenedor info*/
          font-size: 25px;
    }

    .formato-imagen-pago{
        /*Imagene MERCADO PAGO*/
           width: 400px;
           margin: 20px;
     }
 
 }/*Responsive info*/
 
 @media only screen and (max-width: 400px){
    
    .formato-imagen-pago{
        /*Imagene MERCADO PAGO*/
           width: 270px;
           margin: 20px;
     }
     
     .aceptamos-efectivo{
        /*label*/
           font-size: 19px;
        }
 }



/*=================PIE DE PAGINA===================*/
/*=================================================*/

.contenedor-pie-de-pagina-uno{
   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*background: url(../Imagenes/fondo1.jpeg); */
    background: #5d5d5d;
    padding: 20px;
    margin-top: 35px;
 }
 
 
 .hija-pie-de-pagina{
 /*Caja hija*/ 
    text-align: center;
    width: 30%; 
    background-color: rgb(249, 248, 248);
    padding: 20px;
    
 }
 
 .contenedor-imagenes-pie{
 /*IMAGENES CONTENEDOR (ES UN DIV) - medios de pagos*/
    text-align: center;
    padding-bottom: 14px;
 }
 
 .titulos-pie{
 /*Estilo del los titulos del pie de pagina, donde 
 se especifica cada items*/
    font-size: 20px;
 }
 
 .icono-pagos-pie{
 /*Icono (mercado pago - uala)*/
     width: 90px;
 }
 
 .iconos-redes-pie{
 /*Tama単o de los iconos del pie de pagina*/
     width: 40px;
 }
 
 .P-pie-de-pagina{
 /*Parrafo info del pie de pagina'*/
     font-size: 18px;
     margin-top: -30px;
 }
 
 .enlace-correo-pie{
 /*Formato del correo del emprendimiento*/   
    font-weight: 10px;
    color:rgb(85, 69, 207);
    font-size: 15px;
 }
 
 .enlace-correo-pie:hover{
     color:rgb(121, 109, 214);
 }
 
 .icono-inyect_{
 /*Icono de emprendimientos(marca y el de inyect)*/   
     width: 70px;
     padding-top: 15px;
 
 }
 
 .icono-EMPRENDIMIENTO{
 /*Icono del emprendimiento cliente*/
  
    width: 190px;
    padding: 30px 0;
 }
 
 
.nuestrasRedes-titulo-pie{
    /*Titulo de las redes*/
        padding-top: 7px;

}

@media only screen and (max-width: 940px){
   
    .nuestrasRedes-titulo-pie{
        /*Titulo de las redes*/
            margin-top: 21px;
    }

}/*responsive pie pagina*/
 
     
@media only screen and (max-width: 830px){
 
    .hija-pie-de-pagina{
       /*Caja hija*/ 
          text-align: center;
          width: 100%;
    }
    
    .respoonsive-mediosPagos{
       /*Espacio titulo medios de pagos*/
          margin-top: -10px;
       }
 
    .responsive-derechos-reservados{
       /*titulo derechos reservados*/
         margin-top: -15px;
    }
 
    .contenedor-imagenes-pie{
    /*IMAGENES CONTENEDOR (ES UN DIV) - medios de pagos*/
       padding-bottom: 0;
    }
    
    .espacio-reponsive{
       padding-top: 60px ;
    }         
 
    .nuestrasRedes-titulo-pie{
     /*TITULO REDES MARGEN ESPECIAL*/
       color: rgb(0, 0, 0);
       margin-top: 20px;
        
     }
 
 }/*responsive pie pagina*/
 
@media only screen and (max-width: 550px){
 
    .contenedor-pie-de-pagina-uno{
    
       display: block;
       text-align: left; 

    }
 
    .hija-pie-de-pagina{
       /*Caja hija*/ 
          text-align: left;
          width: 100%;
          padding-top: 30px;
    }
    .P-pie-de-pagina{
     /*descripcion del pie de pagina*/
        display: block;
        text-align: left;
    }
    .contenedor-imagenes-pie{
    /*IMAGENES CONTENEDOR (ES UN DIV) - medios de pagos*/
          text-align: left;
    }
    .espacio-reponsive{
       padding-top: 60px ;
    }
    
 }/*responsive pie pagina*/


 /*=================WHATSAPP FLOTANTE===============*/
 /*=================================================*/
 
 .btn-wsp{
    
    width: 60px;
    height: 60px;
    position: fixed;
    line-height: 55px;
    bottom: 30px;
    right: 40px;
    text-align: center;
 
    padding-top: 15px;  
 }
 
 .iconoTama単oWP{
 /*Icono del WHATSAPP*/
     width: 55px;
 }
 
 @media only screen and (max-width: 800px){
 
   .btn-wsp{
 
      position: fixed;
      bottom: 20px;
      right: 5px;
      padding-top: 15px;
      padding-bottom: 2px;
   }
 
   .iconoTama単oWP{
 
        width: 45px;
   }
 
 } /*Responsive Wp*/;
